.navigation {
  position: fixed;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;

  & .burger {
    position: relative;
    display: none;
  }

  & .list {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-block: 40px;
  }

  & .title {
    font-size: 35px;
    color: inherit;
  }

  & .leftSide {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 35px;

    & p {
      margin: 0;
    }
  }

  & .lan {
    color: currentColor;
    background: none;
    border: none;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (width < 800px) {
  .navigation {
    width: 95vw;

    & .burger {
      display: block;
      border: 1px solid currentColor;
      width: 30px;
      height: 30px;
      align-self: center;
    }

    & .leftSide {
      gap: 0px;
    }

    & .list {
      display: none;
    }

    & .title {
      display: none;
    }
  }
}
