.navigation {
	position: fixed;
	width: calc(100% - 100px);
	display: flex;
	justify-content: space-between;
	background-color: black;
	z-index: 2;
}

.list {
	display: flex;
	gap: 40px;
	align-items: center;
	margin-inline-end: 50px;
}

.title {
	font-size: 35px;
	color: white;
}

